<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="text-align: center;">
    <form th:action="@{/}" method="post">
        <input name="cityName" type="text" placeholder="Podaj nazwę">
        <button type="submit">Wyślij</button>
    </form>

    <h1>Temperatura aktualna</h1>

    <span th:if="${weather != null}" th:text="${weather.getMain().getTemp() + ' ' + weather.getMain().getPressure()}"></span>
    <span th:if="${weather != null}" th:text="${weather.getClouds().getClouds()}"></span>


    <h1>Temperatura na 5 dni</h1>

    <ul th:if="${forecast != null}">
        <li th:each="weatherAsDay : ${forecast.getListOfWeather()}" th:text="${weatherAsDay.getDate() + ': ' + weatherAsDay.getMain().getTemp()}"></li>
    </ul>

</div>
</body>
</html>